sudo: false
language: node_js
node_js:
  - "0.8"
  - "0.10"
  - "0.12"
  - "4.0"
  - "4.1"

before_install:
  - travis_retry npm install -g npm
  - travis_retry npm install

matrix:
  allow_failures:
    - node_js: "0.8"

script:
  - npm test

notifications:
  email:
    - travis@nodejitsu.com

